<header 
  class="flex justify-center w-full sticky top-0 z-50 bg-gray-900/30!">
  <div class="w-5xl flex p-2! justify-between items-center">
    <div class="flex gap-2 justify-center">
      <a class="text-white text-3xl font-bold" [routerLink]="['/']">SeriesApp</a>
    </div>

    <a 
      [routerLink]="['/autenticacion/iniciar-sesion']" 
      class="flex text-lg mr-2 text-white font-semibold no-underline border-b-2 border-transparent hover:border-b-2 hover:border-blue-300 box-border transition duration-300" >
      Iniciar Sesion
    </a>
  </div>
</header>
